<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=testeR\Run Con\figu\rationsr2"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="teste"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="2"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/teste"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>